.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 45px;
}

.searchbar input {
  height: 30px;
  width: 450px;
  border-radius: 50px;
  border: 1px solid rgba(172, 170, 170, 0.753);
  font-size: 16px;
  padding-left: 20px;
}

.searchbar input:focus {
  outline: none;
  border: 2px solid skyblue;
}

.useroptions {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.useroptions h4 {
  background-color: cadetblue;
  color: white;
  padding: 8px 10px;
  border-radius: 100%;
}
